@model RentAMovie.ViewModel.CustomerMembershipViewModel
@{
    ViewBag.Title = "Edit_Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit_Customer</h2>
@using (Html.BeginForm())
{
    @Html.HiddenFor(c => c.Customer.id)
    <div class="form-group">
        @Html.LabelFor(c=>c.Customer.name)
        @Html.TextBoxFor(c => c.Customer.name,
       new { @class = "formControl" });
    </div>
    <div class="form-group">
        @Html.LabelFor(c => c.Customer.DateOfBirth)
        @Html.TextBoxFor(c => c.Customer.DateOfBirth,"{0:d}",
        new { @class="form-Control"})
    </div>
        <div class="form-group">
        @Html.LabelFor(c => c.Customer.MembershipTypeId)
        @Html.DropDownListFor(c=>c.Customer.MembershipTypeId,
        new SelectList(Model.MembershipTypes, "Id", "MembershipTypeName"),
        "--select--", new { @class="form-Control"})
    </div>
    <div class="form-group">
        <input type="submit" name="cmdSubmit" value="Save Changes" />
    </div>
}
@section Scripts{
    @Scripts.Render("~/Scripts/jqueryui");
    @Styles.Render("~/Styles/jquerycss");
    
    <script>

        $(document).ready(function () {
            $("#Customer_DateOfBirth").datepicker({
                changeYear: true,
                changeMonth: true,
                dateFormat:"dd-mm-yy"
            });
        });
    </script>
    
    
    
    
    
    }




